<a href="https://colab.research.google.com/github/Palcon18/DSA-58011/blob/main/Adding_the_testscores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = int(input("testscore: "))
num2 = int(input("testscore: "))
result1=num1+num2
print(num1," + ",num2," = ", result1)

num3 = int(input("testscore "))
result2=result1+num3
print(result1," + ",num3," = ",result2)

num4 = int(input("testscore "))
result3=result2+num4
print(result2," + ",num4," = ",result3)

num5 = int(input("testscore "))
result4=result3+num5
print(result3," + ",num5," = ",result4)

num6 = int(input("testscore "))
Totalscore=result4+num6
print(result4," + ",num6," = ",Totalscore)
print("Total score:",Totalscore)

testscore: 26
testscore: 49
26  +  49  =  75
testscore 98
75  +  98  =  173
testscore 87
173  +  87  =  260
testscore 62
260  +  62  =  322
testscore 75
322  +  75  =  397
Total score: 397

OR

In [20]:
num1 = int(input("testscore: "))
num2 = int(input("testscore: "))
num3 = int(input("testscore: "))
num4 = int(input("testscore: "))
num5 = int(input("testscore: "))
num6 = int(input("testscore: "))

Total=num2+num4+num
print(num2," + ",num4," + ",num6," = ",Total)

testscore: 26
testscore: 49
testscore: 98
testscore: 87
testscore: 62
testscore: 75
49  +  87  +  75  =  211